@media only screen and (max-width: 980px) {
    .container{padding: 1.5rem 0 !important;}
    .hamburger{display: block;}
    .res-fullwidth-md{max-width: none !important;width: 100% !important;}
    .res-halfwidth-md{width: 49%;max-width: none;margin: 0.313rem auto;}
    .res-wrap{flex-wrap: wrap;}
    .res-display-none-md{display: none;}
    .res-block-md{display: block !important;}

    h1{font-size: 2.813rem !important;}
    .btn-primary{font-size: 1.25rem !important;}

    /* Slide Header Nav */
    nav#header-nav {padding: 2.188rem 0.938rem; position: fixed; top: 0;  right: 0; width: 100%;max-width: 320px;background: #333; height: 100vh;transform: translateX(100%);z-index: 10;box-shadow: -1px 0 15px #333;}
    #nav-header{display: flex;}
    nav#header-nav ul{text-align: left;}
    nav#header-nav ul li{display: block;}
    nav#header-nav ul li a{padding: 0 !important;color: #fff;}

    /* Showcase */
    #showcase .container.grid{grid-template-columns: 1fr;justify-content: stretch;}
    .slogan{justify-self: unset;order: 1;text-align: center;margin-top: 2rem;}
    .slogan a{margin: auto;}
    .hero-img{justify-self: unset;}

    /* Services */
    .service-box{padding: 2.5rem 1.563rem 7.5rem;}
    .service-box a{bottom: 2.5rem;}

    /* About */
    .about-info{margin-top: 1.563rem;text-align: center;}
    .about-info a{margin: auto;}
}

@media only screen and (max-width: 767px) {
    .container {width: 90vw;}
    .res-fullwidth-sm{width: 100%;max-width: none;}
    .res-display-none-sm{display: none;}
    .res-block-sm{display: block !important;}


    h1{font-size: 2.688rem !important;}
    h2{font-size: 2.5rem !important;}

    nav#header-nav{width: 75vw;}
    
}